* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: rgb(238, 239, 241);
}
.logo-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  align-items: center;
  padding-bottom: 145px;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 42px;
  margin-top: -5px;
  margin-right: 3px;
}
.nav-link {
  list-style: none;
}
.nav-link > a {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.11em;
  text-decoration: none;
  text-transform: uppercase;
}
.first-screen {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.first-screen-img {
  padding-left: 78px;
  padding-top: 20px;
}
.first-screen-content {
  max-width: 535px;
}
.first-screen-h1 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  padding-bottom: 48px;
}
.first-screen-p {
  color: rgb(114, 114, 114);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-bottom: 70px;
}
.first-screen-bottom {
  display: block;
  width: 225px;
  height: 40px;
  background-color: rgb(52, 84, 122);
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 146px;
}
.nav-min{
    display: none;   
    width: 50px;
    height: 43px;
    background-color: rgb(52, 84, 122);
    padding-top: 5px;
}
.nav-min-link{
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 7px auto 0;
}
.about-my {
    text-align: center;
}
.about-my-h2 {
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    padding: 119px 0 42px;
}
.about-my-p {
    color: rgb(114, 114, 114);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    max-width: 540px;
    margin: 0 auto;
    padding-bottom: 110px;
}
.numberis {
    background-color: rgb(52, 84, 122);
}

.numberis__flex-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
}
.numberis__flex-item {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.numberis-h4 {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    padding-bottom: 5px;
}
.numberis-p{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-right: 15px;
}
.skills {
  padding: 102px 0 101px;
}
.skills__container {
  max-width: 1147px;
  margin: 0 auto;
}
.skills__flex-box {
  display: flex;
  justify-content: space-between;
}
.skills-h4 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  padding-top: 102px;
  padding-bottom: 42px;
}
.skills-p {
  color: rgb(114, 114, 114);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-bottom: 17px;
}
.skills-progress {
  width: 445px;
  height: 4px;
  background-color: rgb(196, 196, 196);;
  margin-bottom: 30px;

}
.skills-progress::before {
  content: "";
  display: block;
  width: 80%;
  height: 100%;
  background-color: rgb(52, 84, 122);
}

.skills-img {
  max-width: 555px;
}

.video {
  text-align: center;
  background-color: rgb(238, 239, 241);
  padding-top: 100px;
  padding-bottom: 80px;
}
.video-h2 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  padding-bottom: 43px;
}
.video-p {
  color: rgb(114, 114, 114);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  max-width: 540px;
  margin: 0 auto;
  padding-bottom: 67px;
}
.box__video-c {
  position: relative;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.box__video-c iframe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1110px;
  max-height: 600px;
  border-width: 0;
  outline-width: 0;
}
.progects {
  padding-top: 27px;
  padding-bottom: 60px;
}
.progects__flex-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.progects-img {
  display: block;
  max-width: 480px;
}
.clients {
  padding-top: 13px;
  padding-bottom: 100px;
}
.clients__flex-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.clients-img {
  width: 255px;
}
.form {
  background-color: rgb(238, 239, 241);
  text-align: center;
  padding: 100px 0;
}
.form-h2 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  padding-bottom: 42px;
}
.form-p {
  color: rgb(114, 114, 114);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  max-width: 540px;
  margin: 0 auto;
  padding-bottom: 78px;
}
.form-form{
  display: block;
  max-width: 540px;
  margin: 0 auto;
  color: rgb(95, 93, 93);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.input-name, .input-mail{
  display: inline-block;
  color: rgb(95, 93, 93);
  width: 235px;
  height: 48px;
  border: none;
  padding-top: 2px;
  padding-left: 20px;
}
.input-name{
  margin-right: 26px;
  margin-bottom: 20px;
}
.form-form textarea{
  color: rgb(95, 93, 93);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: block;
  width: 520px;
  height: 160px;
  padding-top: 15px;
  padding-left: 20px;
  border: none;
}
.form-btn{
  display: block;
  width: 190px;
  height: 55px;
  background-color: rgb(52, 84, 122);
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 50px auto 0;
  border: none;
}




@media screen and (max-width: 1200px) {
    .logo-nav, .first-screen, .skills__flex-box, .video-p, .clients, .form{
        padding-left: 30px;
        padding-right: 30px;
    }
    .first-screen-img{
        width: 257px;
    }
    .numberis__flex-box {
        justify-content: center;
        gap: 30px;
        padding: 60px 30px;
    }
    .skills__flex-box{
      flex-direction: column;
      align-items: center;
    }
    .skills, .form {
      padding: 60px 0;
    }
    .skills-h4{
      padding-top: 0;
    }
    .clients{
      padding-bottom: 60px;
    }
    .progects-img {
      max-width: 360px;
    }
    .clients-img {
      width: 150px;
    }
}
@media screen and (max-width: 992px) {
    .nav{
        display: none;
    }
    .nav-min{
        display: block;
    }
    .logo-nav, .first-screen-p{
        padding-bottom: 60px;
    }
    .first-screen{
        flex-direction: column;
        align-items: center;
    }
    .first-screen-img{
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 30px;
    }
    .about-my-h2 {
        padding: 60px 0 42px;
    }
    .first-screen-bottom{
        margin-bottom: 60px;
    }
    .about-my-p {
        padding-bottom: 60px;
    }
    .video{
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .progects-img {
      max-width: 240px;
    }
}
@media screen and (max-width: 768px) {
   .about-my-p{
    padding-left: 30px;
    padding-right: 30px;
   } 
   .form-form textarea{
    width: 480px;
    margin: 0 auto;
  } 
  .input-name, .input-mail{
    width: 215px;
  }
}
@media screen and (max-width: 576px) {
  .skills-img {
    max-width: 280px;
  }
  .skills-progress {
    width: 280px;
  }
  .form-form textarea{
    width: 215px;
    margin: 0 auto 15px;
  } 
  .input-name, .input-mail{
    display: block;
    width: 215px;
    margin: 0 auto 15px;
  }
}
